html{
    background:lightblue;
}
h1{
    background-color: rgb(194, 10, 10);
    margin:auto;
    margin-bottom:0px;
    text-align:center;
    border:2px solid black;
}
body{
    overflow: hidden;
}
button:hover{
    background-color:darkgray;
}
button:focus{
    outline:none;
}
button{
    border:none;
    border-radius: 10%;
    width:12%;
    height:8%;
    margin-left:5%;
    margin-right:5%;
}
.diffDesc{
    border:2px solid black;
    width:50%;
    margin-left:auto;
    margin-right:auto;
    margin-top:5%;
    padding:1%;
}

.selectedEasy{
    background-color: green;
}
.selectedEasy:hover{
    background-color:darkgreen;
}
.selectedNormal{
    background-color: yellow;
}
.selectedNormal:hover{
    background-color: rgb(189, 189, 0);;
}
.selectedHard{
    background-color:red
}
.selectedHard:hover{
    background-color: rgb(185, 0, 0);
}
#board{
    text-align:center;
    display: none;
}
#allInfo{ 
    padding:12px;
    font-size:18px;
    margin:auto;
    text-align:center;
    transition:all 0.5s;
    width:auto;
}
#help{
    border:black 2px dotted;
    
    float:center;
    height:auto;
    background:steelblue;
    transition: all 0.5s;
    margin:auto;
    
    text-align: center;
}
#debug{
    position: absolute;
    margin-top: inherit;
    border: red 2px dashed;
    width:60%;
}
#canvas{
    z-index: 2;
}
#tiles{
    left:0%;
    display: inline-block;
    position: relative;
    margin-left: -35.5%;
    z-index:1;
}
#tell{
    z-index: 5;
    position: absolute;
    background-color:skyblue;
    border:solid blue 2px;
    top:30%;
    display:none;
    margin:5%;
    left:50%;
    margin-top:0px;
    text-align: center;
    width: 90%;
    left:0%;
}
#mm{
    position: absolute;
    top:5%;
    background-color:white;
    border:solid black 2px;
    margin:5%;
    left:50%;
    margin-top:0%;
    text-align: center;
    width: 90%;
    height:90%;
    left:0%;
}

#holder{
    position: relative;
    text-align: center;
}
#mapMaker{
    width: 100px;
}
#controller{
    position: absolute;
}